.footer {
  width: 100%;
  color: #fff;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(8px);
  background-color: rgba(32, 31, 31, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Footer Top Section */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* Footer Logo */
.footer-logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

/* Payment Section */
.footer-payments h3 {
  margin-bottom: 10px;
}

.payment-icons img {
  width: 60px;
  margin-right: 15px;
}

/* Footer Bottom Section */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.footer-follow {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 30px;
  font-weight: bold;
}

/* Container */
.footer-social {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Contact */
.footer-contact p {
  margin-right: 50px;
  margin-top: 20px;
  font-weight: 550;
}

.footer-contact a {
  color: #fff;
  text-decoration: none;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  transition: 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.footer-social a.facebook:hover {
  background: #1877f2;
  transform: scale(1.2);
}
.footer-social a.twitter:hover {
  background: #1da1f2;
  transform: scale(1.2);
}

.footer-social a.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  transform: scale(1.2);
}
.footer-social a.linkedin:hover {
  background: #0077b5;
  transform: scale(1.2);
}
.footer-social a.tiktok:hover {
  background: linear-gradient(45deg, #69c9d0, #ee1d52);
  transform: scale(1.2);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .payment-icons img {
    margin: 0 10px 10px 10px;
  }
}
